.palette0{ --first:#00a0b0; --second:#6a4a3c; --third:#cc333f; --fourth:#eb6841; --fifth:#edc951; }
.palette1{ --first:#046d8b; --second:#309292; --third:#2fb8ac; --fourth:#93a42a; --fifth:#ecbe13; }
.palette3{ --first:#1b676b; --second:#519548; --third:#88c425; --fourth:#bef202; --fifth:#eafde6; }
.palette5{ --first:#1c2130; --second:#028f76; --third:#b3e099; --fourth:#ffeaad; --fifth:#d14334; }
.palette6{ --first:#2d2d29; --second:#215a6d; --third:#3ca2a2; --fourth:#92c7a3; --fifth:#dfece6; }
.palette7{ --first:#300030; --second:#480048; --third:#601848; --fourth:#c04848; --fifth:#f07241; }
.palette8{ --first:#351330; --second:#424254; --third:#64908a; --fourth:#e8caa4; --fifth:#cc2a41; }
.palette12{ --first:#413e4a; --second:#73626e; --third:#b38184; --fourth:#f0b49e; --fifth:#f7e4be; }
.palette13{ --first:#452632; --second:#91204d; --third:#e4844a; --fourth:#e8bf56; --fifth:#e2f7ce; }
.palette14{ --first:#490a3d; --second:#bd1550; --third:#e97f02; --fourth:#f8ca00; --fifth:#8a9b0f; }
.palette15{ --first:#4e395d; --second:#827085; --third:#8ebe94; --fourth:#ccfc8e; --fifth:#dc5b3e; }
.palette16{ --first:#554236; --second:#f77825; --third:#d3ce3d; --fourth:#f1efa5; --fifth:#60b99a; }
.palette17{ --first:#556270; --second:#4ecdc4; --third:#c7f464; --fourth:#ff6b6b; --fifth:#c44d58; }
.palette18{ --first:#594f4f; --second:#547980; --third:#45ada8; --fourth:#9de0ad; --fifth:#e5fcc2; }
.palette20{ --first:#5d4157; --second:#838689; --third:#a8caba; --fourth:#cad7b2; --fifth:#ebe3aa; }
.palette22{ --first:#5e9fa3; --second:#dcd1b4; --third:#fab87f; --fourth:#f87e7b; --fifth:#b05574; }
.palette23{ --first:#607848; --second:#789048; --third:#c0d860; --fourth:#f0f0d8; --fifth:#604848; }
.palette25{ --first:#69d2e7; --second:#a7dbd8; --third:#e0e4cc; --fourth:#f38630; --fifth:#fa6900; }
.palette26{ --first:#6c9484; --second:#749c74; --third:#f7f1ed; --fourth:#e2c0b0; --fifth:#a29b91; }
.palette27{ --first:#774f38; --second:#e08e79; --third:#f1d4af; --fourth:#ece5ce; --fifth:#c5e0dc; }
.palette28{ --first:#8c2318; --second:#5e8c6a; --third:#88a65e; --fourth:#bfb35a; --fifth:#f2c45a; }
.palette29{ --first:#8dccad; --second:#988864; --third:#fea6a2; --fourth:#f9d6ac; --fifth:#ffe9af; }
.palette34{ --first:#a3a948; --second:#edb92e; --third:#f85931; --fourth:#ce1836; --fifth:#009989; }
.palette35{ --first:#a70267; --second:#f10c49; --third:#fb6b41; --fourth:#f6d86b; --fifth:#339194; }
.palette37{ --first:#a8a7a7; --second:#cc527a; --third:#e8175d; --fourth:#474747; --fifth:#363636; }
.palette38{ --first:#a8e6ce; --second:#dcedc2; --third:#ffd3b5; --fourth:#ffaaa6; --fifth:#ff8c94; }
.palette40{ --first:#b3cc57; --second:#ecf081; --third:#ffbe40; --fourth:#ef746f; --fifth:#ab3e5b; }
.palette45{ --first:#bcbdac; --second:#cfbe27; --third:#f27435; --fourth:#f02475; --fifth:#3b2d38; }
.palette47{ --first:#cc0c39; --second:#e6781e; --third:#c8cf02; --fourth:#f8fcc1; --fifth:#1693a7; }
.palette50{ --first:#dad6ca; --second:#1bb0ce; --third:#4f8699; --fourth:#6a5e72; --fifth:#563444; }
.palette55{ --first:#ecd078; --second:#d95b43; --third:#c02942; --fourth:#542437; --fifth:#53777a; }
.palette57{ --first:#eee6ab; --second:#c5bc8e; --third:#696758; --fourth:#45484b; --fifth:#36393b; }
.palette60{ --first:#f04155; --second:#ff823a; --third:#f2f26f; --fourth:#fff7bd; --fifth:#95cfb7; }
.palette67{ --first:#fdf1cc; --second:#c6d6b8; --third:#987f69; --fourth:#e3ad40; --fifth:#fcd036; }
.palette69{ --first:#ff003c; --second:#ff8a00; --third:#fabe28; --fourth:#88c100; --fifth:#00c176; }
.palette71{ --first:#ff4e50; --second:#fc913a; --third:#f9d423; --fourth:#ede574; --fifth:#e1f5c4; }
.palette73{ --first:#ffefd3; --second:#fffee4; --third:#d0ecea; --fourth:#9fd6d2; --fifth:#8b7a5e; }