html {
  background: white;
}

.top-6 { top: 6rem; }
.top-11 { top: 11rem; }

.neu {
  border-radius: 1rem;
  background: white;
  box-shadow: 5px 5px 11px #c1c1c1, -5px -5px 11px #ffffff;
}

.selected {
  outline: 2px solid var(--first);
}

.black {
  color: black;
}

.white {
  color: white;
}

.first {
  color: var(--first);
}

.second {
  color: var(--second);
}

.third {
  color: var(--third);
}

.fourth {
  color: var(--fourth);
}

.fifth {
  color: var(--fifth);
}

.bg-first {
  background: var(--first);
}

.bg-second {
  background: var(--second);
}

.bg-third {
  background: var(--third);
}

.bg-fourth {
  background: var(--fourth);
}

.bg-fifth {
  background: var(--fifth);
}

.sqr32 {
  min-height: 32px;
  min-width: 32px;
}

.palSlice {
  width: 6px;
  height: 30px;
}

.shapeRound {
  border-radius: 0.5rem;
}

.shader1 {
  background-color: var(--first);
}

.shader2 {
  background-color: var(--second);
}

.shader3 {
  background-color: var(--third);
}

.shader4 {
  background-color: var(--fourth);
}

.shader5 {
  background-color: var(--fifth);
}

.shaderg13 {
  background: linear-gradient(90deg,
      var(--first) 0%,
      var(--third) 100%);
}

.shaderg234 {
  background: linear-gradient(90deg,
      var(--second) 0%,
      var(--third) 50%,
      var(--fourth) 100%);
}

.shaderg35 {
  background: linear-gradient(90deg,
      var(--third) 0%,
      var(--fifth) 100%);
}

.shaderg135 {
  background: linear-gradient(90deg,
      var(--first) 0%,
      var(--third) 50%,
      var(--fifth) 100%);
}

.shaderg12345 {
  background: linear-gradient(90deg,
      var(--first) 0%,
      var(--second) 20%,
      var(--third) 40%,
      var(--fourth) 60%,
      var(--fifth) 100%);
}

.shaderc1 {
  background-color: var(--second);
  box-shadow: 4px 4px 0 0 var(--first), -4px -4px 0 0 var(--third);
}

.shaderc2 {
  background-color: var(--fourth);
  box-shadow: 4px 4px 0 0 var(--third), -4px -4px 0 0 var(--fifth);
}

.shaderh23 {
  background: linear-gradient(120deg,
      var(--second) 49.9%,
      var(--third) 50.1%);
}

.shaderh34 {
  background: linear-gradient(120deg,
      var(--third) 49.9%,
      var(--fourth) 50.1%);
}

/* These need to come last for cascade reasons */

.box {
  min-height: 3rem;
  min-width: 3rem;
  border-radius: 0.5rem;
  padding: 1.8rem;
  margin: 1.8rem 0;
}

.heading {
  font-weight: bold;
  font-size: 3rem;
  display: table;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box, .heading {
  transition:transform 0.25s ease-out;
}

.box:hover, .heading:hover {
  transform:scale(1.02);
}

.box:active, .box:focus, 
.heading:active, .heading:focus  {
  transform:scale(1.04);
  outline: 2px solid var(--first);
}